.botao1 {
  background-color: #5F9EA0;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: DarkGray;
}

.topo1 {

  margin-bottom: 5px;
  color: DarkGray;

}

h5 {
 
  color: #5F9EA0;

}

html {
  
  background-color: black;

}

hr {

  border: none;
  height: 3px;
  background-color: #5F9EA0;
  margin: 5px 0;

}
